@{
    ViewData["Title"] = "Moje historie";
}
<h1>@ViewData["Title"]</h1>

<p class="lead">Zobrazuje se posledním 100 mích rezervací.</p>

<a asp-controller="Zobrazeni" asp-action="Pridatsekci" class="btn btn-primary">Přidat sekci</a>